anime-downloader==4.0.1
appdirs==1.4.3
args==0.1.0
asgiref==3.2.7
astroid==2.2.5
attrs==19.3.0
babelfish==0.5.5
beautifulsoup4==4.7.1
black==19.10b0
bs4==0.0.1
certifi==2019.3.9
cffi==1.14.0
cfscrape==2.0.8
chardet==3.0.4
click==6.7
clint==0.5.1
colorama==0.4.1
coloredlogs==10.0
cryptography==2.8
cycler==0.10.0
decorator==4.4.0
dj-database-url==0.5.0
Django==3.0.5
django-autoslug==1.9.7
django-countries==6.1.2
django-heroku==0.3.1
django-summernote==0.8.11.6
docopt==0.6.2
dogpile.cache==0.7.1
dominate==2.4.0
enzyme==0.4.1
ffmpeg-python==0.1.16
firebase==3.0.1
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-Material==0.1.1
Flask-QRcode==3.0.0
Flask-WTF==0.14.3
future==0.17.1
fuzzywuzzy==0.17.0
gcloud==0.18.3
googleapis-common-protos==1.51.0
gTTS==2.0.0
gTTS-token==1.1.1
guessit==3.0.3
gunicorn==20.0.4
h5py==2.10.0
httplib2==0.17.0
humanfriendly==4.18
hupper==1.10.2
idna==2.8
igramscraper==0.3.2
img2pdf==0.3.4
inflection==0.3.1
instagram-scraper==1.6.1
isort==4.3.21
itsdangerous==0.24
Jinja2==2.11.1
jwcrypto==0.7
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
lxml==4.5.0
mako==1.1.2
MarkupSafe==1.0
matplotlib==3.1.1
mccabe==0.6.1
more-itertools==4.3.0
mutagen==1.42.0
mysqlclient==1.3.12
-e git+https://github.com/singhkumarpratik/news-aggregator-pyramid.git@8895ab2632a20e3d3b4836ceca2f50c0c8e0f9bd#egg=news_aggregator&subdirectory=news-aggregator
numpy==1.16.3
oauth2client==4.1.3
ocrmypdf==9.7.2
pandas==0.23.4
PasteDeploy==2.1.0
pathspec==0.8.0
pbr==5.2.0
pdfkit==0.6.1
pdfminer.six==20200402
pikepdf==1.11.1
Pillow==7.0.0
plaster==1.0
plaster-pastedeploy==0.7
protobuf==3.9.1
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.4
pygments==2.6.1
pylint==2.3.1
pyparsing==2.4.2
pyramid==1.10.4
pyramid-debugtoolbar==4.6.1
pyramid-jinja2==2.8
pyramid-mako==1.1.0
pyreadline==2.1
pySmartDL==1.3.3
pysrt==1.1.1
python-dateutil==2.7.3
python-firebase==1.2
python-jwt==3.2.6
python-slugify==3.0.2
pytube==9.2.2
pytz==2018.5
PyYAML==5.1.2
qrcode==6.1
Quandl==3.4.1
rarfile==3.0
rebulk==1.0.0
regex==2020.4.4
reportlab==3.5.42
repoze.lru==0.7
requests==2.21.0
requests-cache==0.5.2
requests-toolbelt==0.9.1
rsa==4.0
scdl==1.6.12
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
selenium==3.141.0
six==1.11.0
sklearn==0.0
sortedcontainers==2.1.0
soupsieve==1.9.1
SpeechRecognition==3.8.1
sqlparse==0.3.1
sseclient==0.0.26
stevedore==1.30.1
subliminal==2.0.5
tabulate==0.8.6
tensorflow==1.0.0
termcolor==1.1.0
text-unidecode==1.2
toml==0.10.0
tqdm==4.32.1
translationstring==1.3
typed-ast==1.4.0
urllib3==1.24.3
venusian==3.0.0
visitor==0.1.3
waitress==1.4.3
WebOb==1.8.6
Werkzeug==1.0.0
whitenoise==5.0.1
wrapt==1.11.2
WTForms==2.2.1
youtube-dl==2020.3.8
zope.deprecation==4.4.0
zope.interface==5.1.0
