{% extends "base.jinja2" %}
  <h1 class="text-2xl text-gray-100">{{paperName}}</h1>
  {% block content%}
    <div class="lg:h-40">
    {% for i,j in toi_news.items() %}
      <div class="shadow-lg rounded-lg bg-gray-800 mx-auto m-4 p-4 w-auto h-full">
          <div class="font-semibold text-xl pb-2 justify-center text-white">{{i}}
            <span class="float-right w-40 ml-4"><img src="{{j[0]}}"></span>
          </div>
          <div class="text-sm text-white tracking-tight ">{{j[1]}}</div>
          <a href="https://timesofindia.indiatimes.com/india/{{j[2]}}" target="_blank" class="hover:bg-indigo-600 inline-block bg-indigo-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-300 mr-2 mt-2">Know More &rarr;</a>
      </div>
    {% endfor %}
    </div>
{% endblock content %}

{%block scriptContent %}
function myFunction() {
  var x = document.getElementById("divx");
  x.classList.toggle("hidden");
  console.log("hello");
}
{%endblock scriptContent %}